.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    background-color: rgb(103, 176, 221) ;
    padding-left: 65%;
    padding-right: 5%;
}

.item {
    height: 60px;
    text-align: left;
    font-size: 1.3em;
    color: white;
}

.item div {
    margin-top: 18px;
}

.menu {
    visibility: hidden;
}

/*
@media (max-width: 650px) {
    .container {
        display: block;
        height: 305px;
        padding-left: 0px;
    }
    .item {
        display: block;
        border-bottom: 1px solid darkblue;
    }
    .item div {        
        text-align: center;
    }
}*/

@media (max-width: 650px) {
    .container {
        /*display: block;*/
        padding-left: 5%;
    }
    .item {
        visibility: hidden;
    }

}    